{% extends "base.html" %}
{% load tz %}
{% load crispy_forms_tags %}


{% block title %} Login {% endblock %}

{% block j_heading %} 
	<h2>Kitchen.com</h2>
	<h3> Login </h3> 
{% endblock %}


{% block logIn %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="form-row">
	<div class="form-group offset-4 col-md-4 mb-0">

	{% crispy form %}

  <button class="btn btn-primary btn-lg" type="submit">Login</button>
  <p>Or <a href="{% url 'signup' %}">SignUp</a>, if you don't already have an account.</p>
	</div>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
