{% extends "base.html" %}
{% load tz %}
{% load crispy_forms_tags %}


{% block title %} Sign Up {% endblock %}

{% block j_heading %} 
	<h2>Kitchen.com</h2>
	<h3> Sign Up </h3> 
{% endblock %}


{% block logIn %}

{% if form.errors %}
<p>Please Fill the Required field and follow the instructions for pasword.</p>
{% endif %}


<form method="post" action="{% url 'signup' %}">
{% csrf_token %}

<div class="form-row">
	<div class="form-group offset-4 col-md-4 mb-0">

	{% crispy form %}

  <button class="btn btn-primary btn-lg" type="submit">Sign up</button>
  <p>Or <a href="{% url 'login' %}">Login</a>, to continue.</p>
	</div>
</div>



</form>
<br />
<br />
{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}
