{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block j_heading %} About Us {% endblock %}

{% block j_AboutNote %} 
	<p> You wanna know about us... <p>
{% endblock %}	

{% block about_content %}
<h1> About page coming through </h1>
{% endblock %}

