{% load tz %}

<!Doctype html>
<html lang=en>
	<head>

    <title>Kitchen || {% block title %} {% endblock %}</title>

    {% include 'snippets/css.html' %}

	</head>

	<body>
		{% include 'snippets/nav.html' %}
	
	{% block jumbotron %}	
	  <div class="jumbotron">
    		<div class="container">
			<h1 class="display-3">{% block j_heading %} {% endblock %}</h1>
			{% block j_HomeNote %}
			{% endblock %}
			{% block j_AboutNote %}
			{% endblock %}

    		</div>
	{% endblock %}
  	</div>
		<div class='container'>


		
			{% block home_content %}
			
			{% endblock %}

			{% block about_content %}

			{% endblock %}

			{% block contact_content %}
			{% endblock %}

			{% block list_menu %}
			{% endblock %}

			{% block menu_detail %}
			{% endblock %}

			{% block create_menu %}
			{% endblock %}

			{% block logIn %}
			{% endblock %}

			{% block dash_board %}
			{% endblock %}

			{% block update_user_profile %}
			{% endblock %}
		</div>

		{% include 'snippets/js.html' %}
	</body>
</html>
