{% extends "base.html" %}
{% load tz %}


{% block title %} Profile {% endblock %}


{% block dash_board %}

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="#" class="list-group-item list-group-item-action active">User Profile</a>
              <a href='{{ "update_profile" }}' class="list-group-item list-group-item-action">Update</a>
              <a href="#" class="list-group-item list-group-item-action">Meals</a>
              <a href="#" class="list-group-item list-group-item-action">Others</a>
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>About</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>User Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.username}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.first_name}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.last_name}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>Online</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.is_active}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>Last Login</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.last_login}}</p>
                                </div>
                            </div>
		                	<div class="row">
                                <div class="col-md-6">
                                    <label>Date Joined</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.date_joined}}</p>
                                </div>
                            </div>
		                </div>
		            </div>		            
		        </div>
		    </div>
		</div>		
	</div>
</div>

{% endblock %}
