{% extends "base.html" %}
{% load tz %}
{% load crispy_forms_tags %}

{% block title %} Add Menu {% endblock %}

{% block j_heading %} 
	Add New Menu
	<h3> Create new menu for your restaurant... </h3> 
{% endblock %}

{% block create_menu %}

{% if errors %}
{{ errors }}
{% endif %}
<form method='POST'> {% csrf_token %}

<div class="form-row">
	<div class="form-group offset-4 col-md-4 mb-0">

	{% crispy form %}

  <button class="btn btn-primary btn-lg" type="submit">Add Menu</button>
	</div>
</div>
</form>

<br />
<br />

{% endblock %}
