{% extends "base.html" %}
{% load tz %}


{% block title %} Menu List {% endblock %}


{% block j_heading %} 
	Menu List
	<h3> View Menu from the list of available menu... </h3>
{% endblock %}

{% block list_menu %}

<h4><a href='/restaurant/create_menu'>Add New Menu</a></h4>
<ul>
	{% for obj in object_list %}
	<li><a href="restaurant/{{ obj.slug }}">{{ obj.food_name }}</a> 
		<p>{{obj.Location}}</P>
	</li>
	{% endfor %}
</ul>
{% endblock %}
