{% extends "base.html" %}
{% load tz %}


{% block title %} Delete Menu {% endblock %}

{% block j_heading %} 
	<h2>{{ object.title }}</h2>
	<h3> Confirm Delete</h3> 
{% endblock %}
{% block menu_detail %}

<form method="post">{% csrf_token %}
<p>
	Are you sure you want to delete this menu item ?
</p>	
	<input class="btn btn-secondary btn-danger" type="submit" value="Confirm">
</form>
<p>

{% endblock %}
