{% extends "base.html" %}
{% load tz %}


{% block title %} Menu Detail {% endblock %}

{% block j_heading %}
		{{object.title}}
		<h3>{{object.meal}}</h3>
{% endblock %}

{% block menu_detail %}


{{object.Location}} <br />
{{object.updated}} | Updated: {{object.time_served|timesince}} ago.

<br />
<br />
<p>
	<a class="btn btn-primary btn-lg" href='{{ "update_menu" }}' role="button">Update Menu Details</a> <a class="btn btn-secondary btn-danger" href='{{ "delete_menu" }}' role="button">Delete Menu </a>
</p>
{% endblock %}
